* {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: rgba(247, 247, 247, 0.959);
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-flipper {
    color: hsl(205, 89%, 70%);
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:active {
    color: red;
    text-decoration: underline;
}

.links a:hover {
    color: blue;
}

.links ul {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 10px;
}

.content-container {
    text-align: center;
    margin: 0 20px 20px 0;
    width: 600px;
    max-width: 90%;
}

.color-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 2px solid white;
}

button {
    margin-top: 30px;
    border: none;
    padding: 10px;
    font-weight: 550;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: all 0.3s;
    box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid white;
}

button:hover {
    color: white;
    background-color: black;
    opacity: 0.5;
}

button:active {
    color: white;
    background-color: rgba(104, 88, 88, 0.637);
    transform: scale(0.9);
}

.color-name {
    font-size: 1.5rem;
}